<% if not user_signed_in? %>

<div class="hero-unit">
<h1>Welcome to Animalhutt!</h1>
<p>
	This is a site is dedicated to animal lovers and their pets. Share your animal images with other animal lovers.
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>


<% end %>