		<% if not user_signed_in? %>
		<div class="bimage">
			<div class="container">
			<h1>Animalhutt</h1>
			<p>
				<h3>A palce for animal lovers and their pets. Share your images with other animal lovers.</h3>
			</p>
			<p>
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
			</div>
		</div>
		<% end %>